/* Button Component CSS */
.btn {
    border: none;
    outline: none;
    background: none;
    text-decoration: none;
    font-family: inherit;
    transition: .4s ease-out;
}

.btn-primary {
    background: var(--orange);
}

.btn--cta {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1.5rem;
    color: #fff;
}

.btn--header {
    font-size: 0.9rem;
    padding: .5rem 1rem;
    display: inline-block;
    color: #fff;
}
.btn--header:hover {
    background: rgb(190, 139, 61);
}
@media only screen and (min-width: 1024px) {
    .btn--header {
        font-size: 1rem;
        padding: .75rem 1.25rem;
    }
}

.btn--form {
    position: relative;
    font-size: .9rem;
    cursor: pointer;
}
.btn--form::after {
    content: "";
    position: absolute;
    left: 0;
    top: 100%;
    width: 60%;
    height: 4px;
    background: var(--orange);
    transition: .4s ease-out;
}
.btn--form:hover::after {
    width: 120%;
}
@media only screen and (min-width: 1024px) {
    .btn--form {
        font-size: 1rem;
    }
}

.btn--link {
    font-size: 1rem;
    position: relative;
}
.btn--link::after {
    content: "";
    position: absolute;
    left: 0;
    top: 100%;
    width: 60%;
    height: 4px;
    background: var(--orange);
    transition: .4s ease-out;
}
.btn--link:hover::after {
    width: 120%;
}

.btn--headlines {
    border: 1px solid var(--orange);
    color: var(--orange);
    transition: .4s ease-out;
    padding: .25rem 1.5rem;
    text-align: center;
    font-size: 0.8rem;
}
.btn--headlines:hover {
    background: var(--orange);
    color: #fff;
}
@media only screen and (min-width: 768px) {
    .btn--headlines {
        padding: .75rem 1.5rem;
    }
}
@media only screen and (min-width: 1024px) {
    .btn--headlines {
        font-size: 1rem;
    }
}