*, 
*::after, 
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --orange: rgb(214, 156, 69);
    --separator: rgb(197, 197, 197);
}

body {
    width: 100%;
    height: auto;
    display: block;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
}

a {
    color: inherit;
    text-decoration: none;
}