/* Home Page Sections CSS */
.section--about {
    padding: 4rem 25px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 2rem;
    border: 1px solid var(--separator);
}

.section .title h2 {
    font-family: 'Merriweather';
    font-size: 1.6rem;
}

.section .title p {
    font-size: 0.8rem;
    color: rgba(51, 51, 51, 0.75);
    margin: 1rem 0;
}

.section--about .images {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
}

.section--about .images .image {
    width: 100%;
    height: 400px;
    overflow: hidden;
}

.section--about .images img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    display: block;
    transition: .4s ease-out;
}

.section--about .images img:hover {
    transform: scale(1.15);
}

.section--rooms {
    padding: 4rem 0;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 2rem;
}

.section--headlines {
    padding: 4rem 25px;
    border-top: 1px solid var(--separator);
}

.section--headlines .headlines {
    border: .5rem solid var(--orange);
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #333;
}

@media only screen and (min-width: 768px) {
    .section--about,
    .section--headlines {
        padding: 4rem 50px;
    }
    
    .section--about .images {
        grid-template-columns: repeat(2, 1fr);
    }

    .section--rooms {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (min-width: 1024px) {
    .section--about,
    .section--headlines {
        padding: 4rem 100px;
    }

    .section--about {
        grid-template-columns: repeat(2, 1fr);
    }

    .section .title h2 {
        font-size: 2.4rem;
    }

    .section .title p {
        font-size: 1rem;
        margin: 2rem 0;
    }
    
    .section--about .images {
        grid-template-columns: repeat(2, 1fr);
    }

    .section--rooms {
        grid-template-columns: repeat(4, 1fr);
    }

    .section--headlines .headlines {
        padding: 2rem;
    }
}

@media only screen and (min-width: 1200px) {
    .section--about,
    .section--headlines {
        padding: 4rem 150px;
    }
}